@import url(https://fonts.googleapis.com/css?family=Overlock);
body{
  /* original color */
  /* background-color: #ebebe6; */

  font-family: 'Overlock', cursive;
  min-width: 634px;

  /* Background image */
  background: url(images/background/background.jpg) repeat left top;
}

p{
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

/***********************************************Nav bar******************************************/
.nav-bar-logo{
  width: 300px !important;
  z-index: 100 !important;
}
.custom-navbar-search-bar{
  width: 300px !important;
}

.navbar-brand{
  /* main */
  /* color: white !important; */
}

  .btn-custom-white{
    -moz-box-shadow: 0 0 6px #212121;
    -webkit-box-shadow: 0 0 6px #212121;
    box-shadow: 0 0 6px #212121;
    transition: 0.5s;
    background-color: white;
    /* color: var(--main-bg-color); */
  }
  .btn-custom-white:hover{
    -moz-box-shadow: 0 0 6px #212121;
    -webkit-box-shadow: 0 0 6px #212121;
    box-shadow: 0 0 6px #212121;
    background: #64B5F6;
  }
  .search-button{
    width: 90px;
  }

.bg-custom{
  /* background-color:#f4f4f4; */
  background-color: #1a1a1a;
  /* background-color: #796ef4; */
}

.nav-link{
  outline: none;
}
.custom-navbar-items li a{
  font-size: 1.25em;
  color: white !important;
}

.custom-navbar-items > li{
    /* display: block; */
    padding-left: 10px;
    padding-right: 10px;
  }

.active-tab{
  border-bottom: 3px solid white;
}
.not-active:hover{
  border-bottom: 3px solid white;
}
  /* .custom-navbar-items li:hover{
    border-bottom: 3px solid white;
  } */



/* dropdown */
.dropdown-menu{
  background-color: #262626 !important;
}
.dropdown-menu a:hover{
  background-color: #3c3c3c !important;
}

/* .dropdown-menu  */


/* search bar */
.custom-select > option{
  outline: none;
}

  /***********************************************user login form******************************************/

.btn-green{
  background-color: #46c463;
  color: white;
}

.custom-login-container{
  margin: 0 auto;
  width: 700px;

  padding: 40px;
}


/************************************************cook signup******************************************/
.upload-image-btn{
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 1.4em;
    border-radius: 5px;
    color: white;
    padding: 3px 10px;
    margin: 7px 0px 0px 0px;
}
.upload-image-btn:hover{
  background-color: #3b73cc;
}
.cook-image{
  display: none;
}
.cook-photo-container{
  height: 280px;
  /* background-color: red; */
}


/***********************************************Learn Page******************************************/
  .video-text{
    padding: 20px;
  }
  .learn-page-ptag{
    padding-left: 20px;
    padding-right: 20px;
  }
  .learn-pagination {
   justify-content: center;
  }

/************************************************About Page******************************************/
.about{
  padding: 60px;
}
hr.style-seven {
  overflow: visible;
  height: 30px; border-style: solid; border-color: black;
  border-width: 1px 0 0 0; border-radius: 20px;
}
hr.style-seven:before {
  display: block; content: "";
  height: 30px; margin-top: -31px;
  border-style: solid; border-color:
  black; border-width: 0 0 1px 0;
  border-radius: 20px;
}
.about-banner{
  height: 400px;
  overflow: hidden;
  /* background-color: red; */
}
.about-image{
  -webkit-filter: brightness(50%);
}
.about-banner img{
  width: 100%;
}
.container-about{
  width: 700px;
  margin: 0 auto;
}
.about-banner h1{
  margin-top: 12%;
  font-size: 7em;
  position: absolute;
  color: white;
  z-index: 1;
}

/************************************************Explore Page******************************************/
.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 400px !important;
}
.hide-card-length{
  height: 150px;
}
/* This was used for card view slow fadeout hover */
/* .card{
  transition: box-shadow 0.7s;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

/* card design testing */
.card{
  border: none !important;
}

x-star-rating{
  font-family: 'Ionicons';
  font-size: 20px;
  display: inline-flex;
  cursor: pointer;
}

x-star-rating > .star::after{
  content: '\f3ae';
  color: #FF6F00;
}

x-star-rating > .star.full::after{
  content: '\f2fc';
  color: #FF6F00;
}

x-star-rating > .star.half-star::after{
    content: '\f3ad';
    color: #FF6F00;
}
/* overlay starts here */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  /* margin-bottom: 83%; */
}
.explore-card:hover .overlay {
  opacity: 1;
}
/* overlay ends here */


/************************************************cart Page******************************************/
.cart-social-media{
  text-align: center;
  font-size: 1.5em;
}

.cart-social-media{
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa{
  padding: 3px;
}

.fa:hover{
  transform: scale(1.2);
}
.fa-youtube,
.fa-youtube:hover{
  color: #cd201f;
}
.fa-facebook-official,
.fa-facebook-official:hover{
  color: #3b5999;
}
.fa-font-size{
  font-size: 1.83em;
}
.fa-instagram,
.fa-instagram:hover{
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 40px;
}
.fa-twitter,
.fa-twitter:hover{
  color: #55acee;
}
.item-quantity{
  width: 50px;
  text-align: center;
}
.item-quantity-buttons{
  transition: background-color 0.7s;
}
.item-quantity-buttons:hover{
  background-color: #03ce5f;
  color: white;
}
.card-page-title{
  padding-top:20px;
}
.cart-page-image{
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

.about-this-header{
  margin-top:50px;
  font-size:4em;
}
/* favourite button starts here*/
.mg-left-10{
  margin-left: 10px;
}
.fa-blue-heart{
  color: #15a8f1;
  transition: color 1s;
}
.fa-blue-heart:hover{
  color: #FF0266;
}

.fa-red-heart{
  color: #FF0266;
  transition: color 1s;
}

.fa-red-heart:hover{
  color: #767777;
}

/* favourite button endss here*/

/************************************************User account******************************************/
.no-activity{
  height: 275px;
}

.fa-edit-btn{
  position: absolute;
  right: 0;
}

/************************************************Cook Dashboard******************************************/

.post-div-state{
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.btn-full-width{
  width: 100%;
}

.cook-container{
  margin: 0 auto;
  width: 900px;
  padding: 30px;
}

.cook-profile-pic{
  border-radius: 50%;
}

.fa-edit-btn{
  transform: none !important;
  background-color: white;
}

.modal-cook-profile{
  margin: 0 auto !important;
  width: 900px !important;
}

.modal-lg{
  width: 90%;
}
/************************************************User History******************************************/
.print-btn-container button{
  width: 100%;
}

/************************************************footer design******************************************/
.footer{
  margin-top: 50px;
  height: 300px;
  background-color: #808b96;
}
